<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="homepage-title"><h1>Abdurrahman Jahankeer</h1></div>
<div class="homepage-information"><h3>Student of Ontario Tech University</h3></div>

<div class="bottom-links">
  <div class="box"><a href="/about">About Me</a></div>
  <div class="box"><a href="/projects">Projects</a></div>
  <div class="box"><a href="/contact">Contact Me</a></div>
</div>

<%- include partials/footer.ejs %>