<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="container projects-page mt-4">
  <h2 class="page-title text-center text-white mb-5">Projects</h2>
  
  <div class="row justify-content-center">
    <div class="col-md-8">
      
      <a href="/projects/crs" class="project-item d-block mb-4 text-decoration-none">
        <span class="project-num">01</span> Car Rental System
      </a>
      
      <a href="/projects/tas" class="project-item d-block mb-4 text-decoration-none">
        <span class="project-num">02</span> Text Autocompletion System
      </a>
      
      <a href="/projects/yylvp" class="project-item d-block mb-4 text-decoration-none">
        <span class="project-num">03</span> Ying Yang Leadership Video Project
      </a>
      
      <a href="/projects/vpc" class="project-item d-block mb-4 text-decoration-none">
        <span class="project-num">04</span> Video Presentation on Computers
      </a>
      
      <a href="/projects/ntcp" class="project-item d-block mb-4 text-decoration-none">
        <span class="project-num">05</span> Network Topology Configuration Project
      </a>
      
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>