<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container project-detail-page mt-4">
  <h2 class="page-title text-center text-white mb-4">Project 1: Car Rental System</h2>
  
  <div class="row justify-content-center mb-4">
    <div class="col-md-10">
      <div class="project-explanation text-center">
        <h4 class="text-warning">
          Our Car Rental System is a simple Tkinter user interface Python application that enables users 
          to hire and return cars, and log all the rental history to a CSV file. We implemented it through 
          object-oriented programming, with features of input validation, rental history, and support 
          for regular and luxury cars.
        </h4>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-10">
      <div class="project-partners text-center text-white">
        <h3>Project Partners: Abdurrahmaan Shaikh, Rashad Khan & Dawood Khalid.</h3>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-8">
      <div class="project-nav-links d-flex justify-content-between">
        <a href="/projects" class="btn btn-dark px-4">
          <i class="fa-solid fa-arrow-left me-2"></i>Previous
        </a>
        <a href="/projects" class="btn btn-dark px-4">
          <i class="fa-solid fa-list me-2"></i>Back
        </a>
        <a href="/projects/tas" class="btn btn-dark px-4">
          Next<i class="fa-solid fa-arrow-right ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/footer.ejs %>