<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container project-detail-page mt-4">
  <h2 class="page-title text-center text-white mb-4">Project 5: Network Topology Configuration Project</h2>
  
  <div class="row justify-content-center mb-4">
    <div class="col-md-10">
      <div class="project-explanation text-center">
        <h4 class="text-warning">
          Our Network Topology Configuration Project involved creating different network topologies in Cisco 
          Packet Tracer. We explored star, mesh, bus, and hybrid configurations and implemented concepts such 
          as IP addressing, routing, and switch configuration. This project helped us understand the practical 
          implementation of networking concepts.
        </h4>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-10">
      <div class="project-partners text-center text-white">
        <h3>Project Partners: Abdurrahmaan Shaikh & Rashad Khan.</h3>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-8">
      <div class="project-nav-links d-flex justify-content-between">
        <a href="/projects/vpc" class="btn btn-dark px-4">
          <i class="fa-solid fa-arrow-left me-2"></i>Previous
        </a>
        <a href="/projects" class="btn btn-dark px-4">
          <i class="fa-solid fa-list me-2"></i>Back
        </a>
        <a href="/projects" class="btn btn-dark px-4">
          Next<i class="fa-solid fa-arrow-right ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/footer.ejs %>