/* Main Stylesheet */

/* Background Style */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, black, rgb(0, 0, 128), rgb(15, 76, 129));
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100%;
}

/* The titles for all of the pages */
.homepage-title, .page-title {
    color: white;
    font-size: 40px;
    text-align: center;
}

.homepage-title {
    margin-top: 50px;
}

.homepage-information {
    color: yellow;
    font-size: 30px;
    text-align: center;
}

/* Home page navigation bar at the bottom */
.bottom-links {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 100px;
}

.box {
    width: 200px;
    height: 100px;
    margin: 20px auto;
    text-align: center;
    background-color: black;
    border-radius: 75px;
}

.bottom-links a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 100px;
    font-size: 20px;
}

.box:hover {
    background-color: rgb(93, 0, 255);
}

/* About Page Styles */
.about-page {
    background: linear-gradient(180deg, black, rgb(0, 0, 128), rgb(15, 76, 129));
    min-height: 600px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.page-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.intro-text {
    margin: 30px 0;
}

.picture-box {
    text-align: center;
    margin: 30px 0;
    padding: 0;
    width: 100%;
}

figure {
    width: 210px;
    margin: 20px auto;
    display: block;
    padding: 0;
    background-color: white;
    border: 2px solid black;
    text-align: center;
}

figure img {
    width: 210px;
    height: 210px;
    display: block;
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
    font-size: 16px;
    background-color: orange;
    color: white;
    padding: 5px;
    margin: 0;
}

figcaption h6 {
    margin: 0;
    font-size: 14px;
}

.intro {
    text-align: center;
    margin: 40px auto 20px auto;
    width: 100%;
    padding: 0 20px;
}

.intro h3 {
    font-size: 20px;
    color: white;
    margin: 0;
}

.vid {
    text-align: center;
    margin: 30px auto;
    width: 100%;
}

.vid video {
    max-width: 100%;
    height: auto;
}

.games-info {
    text-align: center;
    margin: 30px auto;
    color: white;
    padding: 0 20px;
    width: 100%;
}

.games-info h3 {
    font-size: 18px;
}

.resume-section {
    margin: 30px 0;
    padding: 20px;
}

.resume-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: orange;
}

.resume-section h4 {
    font-size: 20px;
    margin-top: 20px;
    color: yellow;
}

.resume-section ul li {
    margin: 10px 0;
    font-size: 16px;
}

/* Projects Page Styles */
.projects-page {
    background: linear-gradient(180deg, black, rgb(0, 0, 128), rgb(15, 76, 129));
    min-height: 600px;
    padding-bottom: 50px;
}

.project-item {
    display: block;
    margin: 25px auto;
    background: linear-gradient(30deg, mediumseagreen, yellow);
    color: black;
    text-decoration: none;
    width: 600px;
    font-size: 23px;
    padding: 15px 20px;
    border-radius: 50px;
}

.project-item:hover {
    background: orange;
    color: white;
}

.project-num {
    background-color: white;
    color: mediumseagreen;
    padding: 5px 12px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Contact Page Styles */
.contact-page {
    background: linear-gradient(180deg, black, rgb(0, 0, 128), rgb(15, 76, 129));
    min-height: 600px;
    padding-bottom: 50px;
}

.contact-page .form-control {
    background-color: white;
    border: 2px solid white;
    width: 100%;
    padding: 5px;
    margin-top: 0;
}

.contact-page .btn {
    min-width: 100px;
    padding: 10px 20px;
}

.contact-page button {
    width: 80px;
    height: 30px;
    margin-top: -20px;
    background-color: black;
    color: white;
    line-height: 30px;
    padding: 0;
    border: none;
}

.contact-page button:hover {
    background-color: orange;
}

/* Project Detail Pages */
.project-detail-page {
    background: linear-gradient(180deg, black, rgb(0, 0, 128), rgb(15, 76, 129));
    min-height: 600px;
    padding-bottom: 50px;
}

.project-explanation {
    text-align: center;
    margin: 30px auto;
    font-size: 22px;
    margin-bottom: 30px;
    width: 70%;
    color: orange;
}

.project-partners {
    text-align: center;
    margin: 20px;
    margin-bottom: 100px;
}

.project-nav-links {
    width: 600px;
    margin: 30px auto;
    margin-bottom: 80px;
    overflow: hidden;
}

.project-nav-box {
    float: left;
    width: 150px;
    margin: 0 5px;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}

.project-nav-box a {
    text-decoration: none;
    color: white;
    display: block;
}

.project-nav-box:hover {
    background-color: orange;
}

/* Footer Styles */
.footer {
    margin-top: 50px;
    padding: 30px 0;
    background-color: #000;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: orange;
}

.social-media-links a {
    margin: 0 10px;
}

/* Navbar Customization */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
    margin: 0 5px;
}

.nav-link:hover {
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.nav-link.active {
    background-color: rgb(100, 65, 0);
    border-radius: 5px;
}